
.bolder {
  font-weight: 600; }

.cfix {
  content: '';
  display: block;
  width: 100%;
  clear: both; }


html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/*1.1 GENERAL STYLES*/
body,
button,
input,
select,
textarea {
  color: #999999;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  position: relative;
  background-color: #fff; }

html, body {
  width: 100%;
  height: 100%; }


/* ==========================
FORM CONTACT
============================= */
.form-comment .form-control,
.form-contact .form-control,
.contact .form-control {
  height: 45px;
  background-color: transparent;
  border: 1px solid gray;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90); }


/**
 * 4. - LOGO & NAVIGATION
 * -----------------------------------------------------------------------------
 */
/* 4.1 - NAVBAR */
.topbar {
  background-color: #F1C22E;
  color: #ffffff;
  font-family: "Open Sans", sans-serif; }
  .topbar .row {
    min-height: 40px; }
  .topbar .info .info-item {
    display: inline-table;
    margin-right: 30px; }
  .topbar .info .info-item:last-child {
    margin-right: 0; }
  .topbar .info .info-item .fa {
    margin-right: 7px;
    font-size: 18px;
    color: #ffffff; }
  .topbar .sosmed-icon a {
    color: #ffffff;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .topbar .sosmed-icon a:hover {
      color: #ffffff; }
  .topbar a {
    color: #ffffff; }
    .topbar a:hover {
      color: #ffffff; }

.middlebar {
  /*.row{*/
  min-height: 90px;
  /*}*/ }

/* 4.1 - NAVBAR */
.navbar-brand {
  padding-top: .7rem;
  padding-bottom: .7rem;
  font-size: 36px;
  color: #FD4D40;
  font-weight: 700;
  font-family: "Pacifico", cursive; }

.navbar-main {
  font-family: "Open Sans", sans-serif;
  -webkit-transition: padding .2s ease-in-out;
  transition: padding .2s ease-in-out; }
  .navbar-main .navbar {
    padding: 0; }
  .navbar-main ol, .navbar-main li {
    margin: 0 0;
    font-size: 14px;
    font-weight: 700; }
  .navbar-main ul {
    margin-left: 0; }
  .navbar-main .navbar-toggler {
    color: #FD4D40;
    border-color: transparent; }
  .navbar-main .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(253, 77, 64, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .navbar-main .dropdown-toggle::after {
    margin-left: 0.6em;
    color: #222222; }
  .navbar-main .dropdown:hover > .dropdown-menu {
    display: block; }
  .navbar-main .dropdown-menu {
    min-width: 200px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding: 0.2rem 0;
    margin-top: 0;
    border-width: 0;
    background-color: #333333;
    color: #ffffff;
    font-size: 14px; }
  .navbar-main .dropdown-item {
    color: #ffffff;
    padding: 0.5rem 1.5rem; }
    .navbar-main .dropdown-item:hover, .navbar-main .dropdown-item:focus {
      text-decoration: none;
      background-color: #222222; }
  




